<a href='http://twitter.com/<%= username %>'><%= username %></a>
<ul>
<% _.each(tweets, function(tweet){ %>
  <li>
    <div class="tweet">
      <a href='<%= tweet.url %>'><%= tweet.text_body %></a>
    </div>
  </li>
<% }) %>
</ul>
